@import "breakpoints";

@include xs{
    .navbar-nav{
        background-color: white;
        
    }
    .nav-link{
        color: black !important;
    }
    .banner-text{
        h1{
            font-size: 18px;
        }
    }
    .owl-carousel{
        .btn{
            display: none;
        }
    }
    .card{
        width: 10rem !important;
    }
    .enjoy-img, .enjoy-img2{
        display: none;
    }
    .room-text2{
        .img-21{
            margin-top: 10px;
        }
    }
    .img-22{
        margin-top: 10px;
    }
    .booking{
        background-position: center;
        object-fit: cover;
    }
    
}
@include sm{
    .navbar-nav{
        background-color: white;
        
    }
    .nav-link{
        color: black !important;
    }
    .banner-text{
        h1{
            font-size: 18px;
        }
    }
    .owl-carousel{
        .btn{
            display: none;
        }
    }
    .card{
        width: 15rem !important;
    }
    .enjoy-img, .enjoy-img2{
        display: none;
    }
    .room-text2{
        .img-21{
            margin-top: 10px;
        }
    }
    .img-22{
        margin-top: 10px;
    }
    .booking{
        background-position: center;
        object-fit: cover;
    }
    
}
@include md{
    .banner-text{
        h4, h1{
            font-size: 32px;
            
        }
        
    }
    .enjoy-img, .enjoy-img2{
        display: none;
    }
    .owl-carousel{
        .btn{
            display: none;
        }
    }
    .card{
        width: 16rem !important;
    }
}
@include lg{
    .banner-text{
        h4, h1{
            font-size: 32px;
        } 
    }
    .enjoy-img, .enjoy-img2{
        display: none !important;
    }
    .owl-carousel{
        .btn{
            display: none;
        }
    }
    .card{
        width: 18rem !important;
    }
}